.rect{
    background-color: steelblue;
    outline: 1px black;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    margin: 5px;
}
.navbar-brand{
    margin-left: 10px;
}
.nav{
    margin-left: 4px;
}
